div[data-app-color-scheme='dark'] {
  --color-primary: #78CB0A;

  --color-surface-100: #333333;
  --color-surface-200: #181818;
  --color-surface-300: #444444;
  --color-surface-400: #555555;
  --color-surface-500: #666666;
  --color-surface-600: #888888;
  --color-surface-700: #999999;
  --color-surface-800: #aaabab;
  --color-surface-900: #bbbbbb;
  --color-surface-999: #ffffff;

  /* text */
  --color-text-normal: #dddddd;
  --color-text-link: #ffffff;

  /* login form */
  --color-login-form-bg: #232E3E;
}