div[data-app-color-scheme="light"] {
  --color-primary: #61AA00;

  --color-surface-100: #ffffff;
  --color-surface-200: #e7e7e7;
  --color-surface-300: #cdcdcd;
  --color-surface-400: #b2b2b2;
  --color-surface-500: #9a9a9a;
  --color-surface-600: #777777;
  --color-surface-700: #666666;
  --color-surface-800: #555555;
  --color-surface-900: #444444;
  --color-surface-999: #333333;

  /* text */
  --color-text-normal: #353535;
  --color-text-link: #4F46E5;

  /* login form */
  --color-login-form-bg: #ffffff;
}