.admin {
    &__sidebar-right {
      &-component {
        @apply h-full w-[400px] bg-[var(--color-surface-100)];
        @apply fixed top-0 right-0 z-0;
  
        transition: 0.3s;
        &--close {
          width: 55px;
          transition: 0.3s;
        }
        
      }
      &-body {
        @apply size-full py-6 flex flex-col;
        a {
          color: black;
        }
      }
    }
  }
  
  @media (max-width: 425px) {
    .admin {
      &__sidebar-right {
        &-component {
          @apply absolute top-0 left-[0] w-[236px];
          &--close {
            @apply -left-[240px];
            transition: 0.3s;
          }
        }
      }
    }
  }
  