.admin{
    &__sidebar{
        &-component {
            @apply h-[calc(100vh-var(--header-high))] w-[236px] bg-[var(--color-surface-100)];
            @apply fixed top-[var(--header-high)] left-0 z-0;
        
            box-shadow: 5px 3px 6px 0px rgba(0, 0, 0, 0.1);
        
            transition: 0.3s;
            &--open {
                width: 55px;
                transition: 0.3s;
            }
        }
        &-body {
            @apply size-full py-6 flex flex-col items-center justify-between;
        }
    }
}

@media (max-width: 425px) {
    .admin{
        &__sidebar{
            &-component {
                @apply absolute top-0 left-[0] w-[236px];
                &--open {
                    @apply -left-[240px];
                    transition: 0.3s;
                }
            }
        }
    }
}
